<!DOCTYPE html>
<html lang="en">
   <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>Book List</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
     {% extends "base.html" %}
     {% block content %}
     <div id="table_head_home">
        <h2>Reading list</h2>
      </div>
     <table id = "table 1", style="width:30%">
       <tr>
         <th>Title</th>
         <th>Description</th>
         <th>Author</th>
       </tr>
       {% for book in books %}
       <tr>
         <td>{{book.title}}</td>
         <td>{{book.description}}</td>
         <td>{{book.author}}</td>
       </tr>
       {% endfor %}
    </table>
    <div id="form">
        <form action="" method="post" name="Todo">
          {{ form.hidden_tag() }}
          <p>
            <h5>Title</h5>
          {{ form.text1 }}
          {% for error in form.text1.errors %} <!--Validating input format-->
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          </p>
          <p>
            <h5>Description</h5>
          {{ form.text2 }}
          {% for error in form.text2.errors %} <!--Validating input format-->
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          </p>
          <p>
            <h5>Author</h5>
          {{ form.text3 }}
          {% for error in form.text2.errors %} <!--Validating input format-->
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          </p>
          <p><input type="submit" value="Add to list!"></p>
          <p>After completing the fields, click the button to add the book to the list</p>
        </form>
    {% endblock %}
   </body>
</html>
